
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
ul.nav li a.active{
	background-color: #FFF;
	color: #000;
}
ul.nav li a.active:hover{
	background-color: #FFF;
	color: #000;
}
.min-height-200{min-height: 200px;}
.min-height-400{min-height: 400px;}
.min-height-600{min-height: 600px;}
.min-height-80p{min-height: 80%;}
.angular-google-map-container { min-height: 500px; border: 2px solid #CCC;}
.data-tbl-delete {
    background-image: url("/store-locator/web-resources/static/images/close_24.png");
    width: 18px;
    height: 20px;
    display: block;
    margin-bottom: 5px;
}
.mod-form-grp{
	width:47%;
}
.rzslider .rz-pointer {
    top: -7px;
    z-index: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #0db9f0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 13px;
}

.rzslider .rz-pointer:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}
.margin-top-20{margin-top: 20px;}
.margin-left-20{margin-left: 20px;}
.form-error{color: red; line-height: 25px;padding-left: 5px;float: right}
.result-container {
    background-color: #f7f7f7;
    min-height: 400px;
    border: 1px solid #aaa;
		height: 500px;
		overflow-y: auto;
}
.result-container .result {
    display: inline-block;
    min-width: 100px;
    min-height: 25px;
    margin: 10px 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
    background-color: #ffffff;
}
