<div class="col-md-12 min-height-600">

	<div class="col-md-6">
	<legend ng-if="vm.id==null">Add Store</legend>
	<legend ng-if="vm.id!=null">Edit Store</legend>
	<form name="store">
	  <div class="form-group">
	    <label for="name">Name:</label>
	    <input required type="text" ng-model="vm.store.name" name="name" class="form-control" id="name" placeholder="Enter Store Name">
	    <span ng-show="!store.name.$valid && store.name.$touched" class="form-error">Name is required. </span>
	  </div>
	  <div class="form-group">
	    <label for="owner">Owner:</label>
	    <input required ng-pattern="/^[a-zA-Z\s]*$/" type="text" ng-model="vm.store.owner" name="owner" class="form-control" id="owner" placeholder="Enter Store Owner">
	    <span ng-show="!store.owner.$valid && store.owner.$touched" class="form-error">Owner is required. </span>
	  </div>
	  <div class="form-group">
	    <label for="pwd">Type:</label>
	    <select required ng-model="vm.store.type" name="type" class="form-control">
	    	<option value="Medical">Medical</option>
	    	<option value="General">General</option>
	    	<option value="Laundry">Laundry</option>
	    	<option value="Other">Other</option>
	    	
	    </select>
	    <span ng-show="!store.type.$valid && store.type.$touched" class="form-error">Type is required. </span>
	  </div>
	  <div class="form-group">
	    <label for="address">Address:</label>
	    <textarea rows="4" name="address" ng-model="vm.store.address" class="form-control" id="address" placeholder="Select address from map"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="coordinates">Latitude:</label>
	    <input type="text" name="latitude" ng-model="vm.store.latitude" disabled="disabled"  class="form-control" id="latitude" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="coordinates">Longitude:</label>
	    <input type="text" name="longitude" ng-model="vm.store.longitude" disabled="disabled"  class="form-control" id="longitude" placeholder="">
	  </div>
	  
	  <button ng-disabled="!store.$valid" ng-click="vm.saveStore()" type="submit" class="	btn btn-success">Submit</button>
	</form>
	</div>
	
	<div class="col-md-6">
		<ui-gmap-google-map options="{scaleControl : true}" refresh="vm.refresh" center='vm.map.center' zoom='vm.map.zoom'>
		<ui-gmap-marker idKey="vm.marker.id" events="vm.marker.events" coords='vm.marker.coords' options="vm.marker.options" click='vm.locClick()'></ui-gmap-marker>
		</ui-gmap-google-map>
		
	</div>
</div>